.grandpa {
    margin-left: 1em;
    margin-right: 1em;
    max-width: 95vw;
}
.aboutMeContainer{
    color: white;
    display: flex;
}

.aboutMeDetails {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 50%;
    
}

#about {
    /* display: inline-block; */
    font-size: 1.7em;
    letter-spacing: 0.2em;
}

.getInTouch {
    text-decoration: none;
    color: white;
    border: 5px solid rgba(36, 135, 170, 0.5);
    background-color: rgba(36, 135, 170);
    border-radius: 0.2em;
    padding: 0.3em;
}

.getInTouch:hover {
    color: white;
    transform: translateY(0.1em);
    box-shadow: 10px 5px 12px rgba(36, 135, 170, 0.5);
}

.aboutMeHeadshot {
    margin-left:2em;
    display: flex;
    align-items: flex-start;
}

#headshot {
    border-radius: 50%;
}

.aboutMeDivider {
    margin-top: 2em;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
}

.skillsTitle {
    color: rgb(183, 156, 167)
}
.singleSkill {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 10%;
}

.twoWorkSkill {
    margin-top: 0em;
    margin-bottom: 0em;
}

.singleSkill > i {
    font-size: 3em;
    margin-bottom: 0.3em;
}

@media screen and (max-width: 1096px){
    .grandpa {
        max-width: 75vw;
        margin: auto;
        margin-top: 8em;
    }
    .aboutMeContainer {
        flex-direction: column;
        max-width: 90%;
        justify-content: center;
        align-items: center;
    }
    #headshot {
        max-width: 70%;
        margin-top: 1em;
    }
}


@media screen and (max-width: 768px) {
    

    .aboutMeContainer {
        font-size: 1em;
        margin-left: 1em;
    } 
    #about {
        font-size: 1.3em;
    }
    .aboutMeDetails {
        margin-left: 0em;
    }
    #headshot {
        text-align: center;
    }
}