.grandpa {
    margin-left: 15em;
    margin-right: 15em;
}
.aboutMeContainer{
    color: white;
    display: flex;
    
    max-width: 80vw;
}

.aboutMeDetails {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 50%;
    
}

#about {
    display: inline-block;
    font-size: 2em;
    letter-spacing: 0.2em;
}

.aboutMeHeadshot {
    margin-left:2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#headshot {
    max-height: 20em;
}

.aboutMeDivider {
    margin-top: 2em;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
}

.singleSkill {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 10%;
}

.singleSkill > i {
    font-size: 3em;
    margin-bottom: 0.3em;
}


@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        max-width: 90%;
        justify-content: center;
        align-items: center;
    }

    .aboutMeContainer {
        font-size: 1em;
        margin-left: 1em;
    } 
    #about {
        font-size: 1.3em;
    }
    .aboutMeDetails {
        margin-left: 0em;
    }
    #headshot {
        text-align: center;
    }
}