.homepageMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 60%;
    margin-top: 15em; 
    margin-left: 15em;
    
}
#hello {
    margin: 0px;
}

#name {
    font-size: 5.5em;
    opacity: 0.8;
}

.subtitle {
    opacity: 0.5;
    margin-top: 1em;
}
.portfoliobutton {
    text-decoration: none;
    border-radius: 0.2em;
    color: white;
    border: 5px solid rgba(36, 135, 170, 0.5);
    background-color: rgba(36, 135, 170);
    padding: 0.3em;
    font-size: 1.4em;
    text-transform: uppercase;
    padding: 0.5em;
    margin-top: 1.5em;
}

.portfoliobutton:hover {
    color: white;
    box-shadow: 10px 5px 12px rgba(36, 135, 170, 0.5);
}

@media (max-width: 768px) {
    #name {
        font-size: 2.5em;
        margin-top: 2em;
    }
    .intro {
        max-width: 85%;
    }

    .portfoliobutton {
        width: 60%;
        margin-top: 50px;
        font-size: 1.2em
    }

    ul {
        padding: 0px;
    }

    .intro {
        font-size: 1.2em;
        line-height: 1.2em;
    }
}