.homepageMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 60%;
    margin-top: 15em; 
    margin-left: 15em;
    
}
#hello {
    /* font-family: 'Otomanopee One', sans-serif; */
    margin: 0px;
}

#name {
    font-size: 5.5em;
    opacity: 0.8;
}

.subtitle {
    opacity: 0.5;
}



.portfoliobutton {
    color: white;
    text-decoration: none;
    padding: 25px 0px;
    display: block;
    text-align: center;
    width: 20%;
    background: rgba(3, 4, 94, 0.5);
    border: 1px solid white;
    border-radius: 0.4em;
    font-size: 1.4em;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 150px;
}

.portfoliobutton:hover {
    background: rgba(0, 150, 199, 0.5);
    color: white;
    box-shadow: 0 0.5em 0.8em 0.05em rgba(255, 255, 255, 0.3); /*rgba(3, 4, 94, 0.5); */
    transform: translateY(-0.25em);
    cursor: pointer;
}

@media (max-width: 768px) {
    #name {
        font-size: 2.5em;
        margin-top: 2em;
    }
    .intro {
        max-width: 85%;
    }

    .portfoliobutton {
        width: 60%;
        margin-top: 50px;
        font-size: 1.2em
    }

    ul {
        padding: 0px;
    }

    .intro {
        font-size: 1.2em;
        line-height: 1.2em;
    }
}