.fa-bars {
    font-size: 2em;
    color: white;
    padding: 0.2em;
    border-radius: 0.2em;
}

.navbar {
    background-color: rgb(94, 138, 166);
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
}

.navbar-brand {
    padding-top: 0em;
}

.nav-link {
    color: white;
    font-size: 1.5em;
    margin-right: 1.8em;
}


