#projectHeader {
    background: rgba(224, 230, 236, 0.85);
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    font-size: 2em;
    max-width: 75%;
    margin: 25px auto;

}

#projectHeader > h1 {
    letter-spacing: 0.6em;
    text-decoration: underline;
    text-underline-offset: 40%;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

.project {
    text-align: center;
    background: rgba(224, 230, 236, 0.8);
    max-width: 75%;
    margin: 15px auto;
    padding-bottom: 5px;
}

.project h2 {
    padding: 1.5em;
    padding-bottom: 0px;
    font-size: 2em;
}


.project p {
    max-width: 60%;
    text-align: center;
    margin: 25px auto;
    padding: 8px 0px;
    font-size: 1.5em;
}

.project a {
    border: 1px solid black;
    margin: 35px;
    padding: 15px;
    color: black;
}

.project a:hover {
    cursor: pointer;
    background: white;
    font-weight: 400;
}


.project img {
    max-width: 75%;
    max-height: 55%;
    object-fit: cover;
    padding: 5% 0% 2% 0%;
   margin: 5px 0px;
}



ul li:nth-child(3) {
    padding-bottom: 10px;
    border-bottom: 5px solid white;
}
