.projectHeader {
    text-align: center;
    margin-bottom: 1.5em;
    text-decoration: underline;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
    max-width: 95%;
}

.projectImgR {
    max-width: 30%;
    border-radius: 0.3em;
}

.projectDetailsContainerR {
    max-width: 40%;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
}

.featuredProjectR {
    font-size: 1em;
    margin-top: none;
    font-weight: 900;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    align-self: flex-end;
}

.projectTitleR {
    align-self: flex-end;
}
.projectDetailsR {
    background-color: rgba(36, 135, 170);
    padding: 2em;
    padding-left: 4em;
    border-radius: 0.3em;
    margin-left: -3em;
}

.projectTechnologiesR {
    display: flex;
    justify-content: flex-end;
    margin-top: 3.5em;
    margin-left: 1em;
}

.projectTechnologiesR > p {
    margin-left: 1em;
}

.projectLinkContainerR {
    display: flex;
    justify-content: flex-end;
}

.projectLinkR {
    color: white;
    font-size: 1.5em;
    margin: 0.3em;
    padding: 0.3em 0.5em;
    border-radius: 50% 50%;
}

.projectLinkR:hover {
    background-color: rgba(36, 135, 170);
    color: white;
}
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

.projectHeaderL {
    color: rgb(183, 156, 167)
}

.projectL {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectImgL {
    max-width: 30%;
    border-radius: 0.3em;
}

.projectDetailsContainerL {
    max-width: 40%;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
}

.featuredProjectL {
    font-size: 1em;
    margin-top: none;
    font-weight: 900;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    align-self: flex-start;
}

.projectTitleL {
    align-self: flex-start;
}
.projectDetailsL {
    background-color: rgba(36, 135, 170);
    padding: 2em;
    padding-left: 4em;
    border-radius: 0.3em;
    margin-right: -3em;
    z-index: 1;
}

.projectTechnologiesL {
    display: flex;
    justify-content: flex-start;
}

.projectTechnologiesL > p {
    margin-left: 1em;
}

.projectLinkContainerL {
    display: flex;
    justify-content: flex-start;
}

.projectLinkL {
    color: white;
    font-size: 1.5em;
    margin: 0.3em;
    padding: 0.3em 0.5em;
    border-radius: 50% 50%;
}

.projectLinkL:hover {
    background-color: rgba(36, 135, 170);
    color: white;
}

@media  (max-width: 1000px) {
    .project {
        margin-left: 1em;
        margin-right: 1em;
    }

    .projectImgR, .projectImgL {
        max-width: 50%;
    }
    .projectDetailsR, .projectDetailsL {
        font-size: 0.9em;
        
    }
    .projectTechnologiesR {
        margin-top: 4.5em;
    }
}

@media  (max-width: 829px) {
    .project {
       flex-direction: column;
       align-items: flex-start;
       margin-bottom: 3em;
       background-color: rgba(36, 135, 170);
       padding: 1em;
    }
    .featuredProjectR, .featuredProjectL {
        align-self: flex-start;
    }
    .projectTitleR, .projectTitleL {
        align-self: flex-start;
    }
    .projectImgR, .projectImgL {
        max-width: 100%;
        border-radius: 0.3em;
        order: 3;
    }
    .projectDetailsContainerR, .projectDetailsContainerL {
        max-width: 100%;
        border-radius: 0.3em;
        display: flex;
        flex-direction: column;
    }
    .projectDetailsR, .projectDetailsL {
        margin: 1em;
        padding: 1em;
        width: 100%;
        border: 3px solid rgb(94, 138, 166);
        margin-left: 0em;
    }

    .projectTechnologiesR, .projectTechnologiesL {
        display: flex;
        justify-content: center;
        margin: 0em 1em 0em 0em;
        flex-wrap: wrap;
    }
    .projectLinkContainerR, .projectLinkContainerL {
        display: flex;
        justify-content: center;
    }
    .projectLinkR, .projectLinkL{
        margin: 0em 1em 0em 0em;
    }
}